:root {
    /* Color Palette */
    --color-white: #F0F0F0;
    --color-dryBlue: #213555;
    --color-dryBlueLight: #4F709C;
    --color-dryYellow: #E5D283;
    /* Fonts */
    --fontTitle-dancingScript: 'Dancing Script', cursive;
    --fontTitle-frankRuhl: 'Frank Ruhl Libre', serif;
    --fontText-roboto: 'Roboto Slab', serif;
}
/* Reset de estilos común para todos los elementos */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* Establecimiento del tamaño de fuente base y modelo de caja */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: var(--fontText-roboto);
    background-color: var(--color-white);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #2a2828; 
}
@media (max-width: 1200px) {
    ::-webkit-scrollbar {
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-dryYellow); 
    }
}

/* Herencia del modelo de caja a todos los elementos descendientes */
*, *:before, *:after {
    box-sizing: inherit;
}
/* Estilos comunes para los títulos h1 y h2 */
h1, h2 {
    margin: 0;
    text-align: center;
    font-family: var(--fontTitle-frankRuhl);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.284);
}
h2 {
    font-size: 4rem;
}
/* Definición de una clase dflex*/
.dflex {
    display: flex;
}
/* Estilos comunes para contenedores con clase container */
.container {
    max-width: 120rem;
    padding: 20px;
    margin: 20px auto;
}
.box-Shadow {
    box-shadow: 4px 3px 20px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.button {
    width: auto;
    padding: 7px;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-dryBlue);
    background-color: rgba(240, 255, 255, 0.59);
    transition: all 300ms ease;
}
.button:hover{
    cursor: pointer;
}
/* Encabezado */
header {
    background-color: var(--color-dryBlue);
}
/* Estilos para la clase header-title */
.header-title {
    width: 100%;
    background-color: var(--color-dryBlueLight);
}
/* Estilos para el título dentro de header-title */
.header-title .title {
    padding: 15px;
    font-size: 3rem;
    color: var(--color-white);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.332);
}
/* Estilos para el span dentro de header-title */
.header-title .title span {
    font-size: 1.8rem;
    color: var(--color-dryYellow);
    font-family: var(--fontTitle-dancingScript);
    font-weight: bolder;
}

.navBar-color {
    height: auto;
}

.navBar-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.navBar-color img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    background-color: #E5D283;
    margin: 5px;
}

.navBar {
    display: flex;
    justify-content: left;
    padding: 5px 10px;
    text-align: center;
    font-size: 2.2rem;
    transition: all 200ms ease;
}

.navBar a {
    margin-right: 3rem;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
    transition: all 300ms ease-in-out;
    border-radius: 10px;
}

.navBar a:hover {
    background-color: var(--color-dryYellow);
    color: black;
}

.center-button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: transparent;
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.536);
    display: none;
}

@media (max-width: 768px) {
    .center-button {
        display: block;
        margin: 10px;
        cursor: pointer;
    }
    .navBar {
        display: none;
        flex-direction: column;
        padding: 0 10px;
    }
    .navBar li{
        line-height: 50px;
    }
    .navBar a {
        margin: 0;
    }
    .navBar-color {
        flex-direction: column-reverse;
        padding: 30px;
    }
    .navBar-color img {
        width: 200px;
        height: 200px;
    }
    .navBar-container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.visible {
    display: flex;
}

.hero {
    position: relative;
    align-items: center;
    background-attachment: fixed;
    background-image: url(../img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px; 
}

.hero-container {
    width: min(70%, 450px);
    padding: 35px 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #e5d183c3;
    backdrop-filter: blur(3px);
    border-radius: 40px;
    margin-block: 35px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.654);
}

.icoText-container {
    align-items: center;
}

.icoText-container svg {
    margin-right: 10px;
}

@media (max-width: 450px) {
    .hero-container {
        min-width: 300px;
        gap: 20px;
    }
    .hero-container a {
        padding: 10px;
    }
}

.services-section {
    margin-top: 30px;
    background-color: var(--color-dryBlue);
    color: var(--color-white);
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.258);
}

.services-container {
    margin: 40px; 
}

.services-container__items {
    margin-right: 15px;
    padding: 10px;
    background-color: rgba(120, 120, 120, 0.417);
    border-radius: 15px;   
}

.services-container__items p {
    line-height: 25px;
}

.service-title {
    display: flex; 
    align-items: center;
    padding-bottom: 10px;   
}

.service-title h3 {
    padding-right: 10px;  
}

.service-title svg {
    color: var(--color-dryYellow);
}

@media (max-width: 1200px) {
    .services-section {
        border-radius: 0;
        margin-top: 0;
        box-shadow: none;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
        margin: 35px;
    }

    .services-container__items {
        max-width: 500px;
        margin-bottom: 25px;
        margin-right: 0;
    }
    .service-title {
        justify-content: center;
    }
}

/* Projects Section */

.project-section {
    margin-top: 30px;
}

.project-section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon-tabler-hand-finger {
    transform: rotate(-180deg);
    color: black;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(
            250px,
            1fr
        )
    );
    grid-gap: 16px;
    padding: 15px;
}

.project-section__item {
    position: relative;
    height: fit-content;
    border-radius: 15px;
}

.project-section__item img {
    width: 100%;
    height: auto;
    object-fit:contain;
    border-radius: 15px;
    box-shadow: 2px 1.5px 4px rgba(0, 0, 0, 0.337);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.overlay h3 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay svg {
    color: rgb(0, 0, 0);
    transition: all 200ms ease;
}

.overlay svg:hover {
    transform: scale(1.2);
}

.project-section__item:hover .overlay{
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.521);
    opacity: 1;  
}

.project-section__item:hover img{
    opacity: 0.4;
}

.icoContainer {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1200px) {
    .project-section {
        border-radius: 0;
        margin-top: 0;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .project-section {
        grid-template-columns: 1fr 1fr;
    }
}
  
@media (max-width: 480px) {
    .project-section {
        grid-template-columns: 1fr;
    }
}

/* Testimonials */
.testimonials-section {
    margin-top: 30px;
}

.testimonials-container {
    background-image: url(../assets/background-testimonials.jpg);
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.testimonials-container__item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(113, 109, 109, 0.881);
    margin: 0 10px;
    border-radius: 5px;
    padding: 15px;
    scroll-snap-align: center;
}

.testimonials-container__item svg {
    color: var(--color-dryYellow);    
}

.testimonials-container__item p {
    color: var(--color-white);
    padding: 10px;
    text-shadow: 1.5px 1px 2px black;
    line-height: 25px;
}

.testimonials-container__item .user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.testimonials-container__item .user-info img {
    border-radius: 50%;
    width: min(130px, 50%);
    padding-right: 15px;
}

.user-info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info__text,  .user-info__text p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 1.5px 3px black;
}

@media (max-width: 1200px) {
    .testimonials-container {
        align-items: center;  
        border-radius: 0; 
        justify-content: flex-start;
        box-shadow: none;
    }
    .testimonials-container__item {
        max-width: 500px;
        min-width: 320px;
        padding: 15px;
        margin-block: 25px;
    }
}

/* Formulario */
.contact-section h2{
    margin-bottom: 1.5rem;
}

.form {
    /* background-color: rgba(108, 222, 240, 0.374); */
    /* background-color: #e5d18378; */
    background-color: #43628a;
    box-shadow: 2px 1.5px 5px rgba(0, 0, 0, 0.678);
    width: min(60rem, 100%); /*Utlizar el valor mas pequeno */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form fieldset {
    border: none;
}

.form legend {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-white);
    text-shadow: 2px 2px 2px black;
}

@media (min-width: 768px) {
    .ground-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        column-gap: 1rem;
    }
    .ground:nth-child(3), 
    .ground:nth-child(4)
    {
        grid-column: 1 / 3;
    }
}

.ground {
    margin-bottom: 1rem;
}

.ground label {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 2px;
    color: var(--color-white);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

.ground .ground-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
}

.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-container input {
    width: 50%;
    color: black;
    background-color: var(--color-white);
}

.footer {
    text-align: center;
}

.footer p {
    padding: 45px;
}